body{
    font-family: 'Roboto', sans-serif;
}
li{
    list-style: none;
}
a{
    color:black;
}


.appsLogo{
    height: 19px;
}




nav{
    display:flex;
    justify-content:space-between;
    align-items: center;
    
}
ul{
    display:flex;
    justify-content:space-between;
    
}

ul li{
    margin:17px;
    
}

li.userProf a{
    background-color:#ab47bc;
    border-radius: 50%;
    font-size: 20px;
    padding:10px;
    color: white;
}

main{
    height:90vh;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-flow:column wrap;
}

.logo, .searchbar, .underLinks>section{
    padding-bottom:2.5rem;
}

input{
    width:37vw;
    
}
.magnify{
    position: fixed;
    height:18px;
    padding-top:7px;
    padding-left:3px;
   
}


section.underLinks>section{
    display: flex;
    justify-content: space-between;
}

footer.footer, footer.footer a{
    color: grey;
}

nav.bot>p{
    margin-left:-125px;
}
